.button {
    background-color: #11BCFF;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
}

@media (min-width: 320px) and (max-width: 800px){
    .button {
        width: auto;
        height: auto;
        min-height: 40px;
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}